<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <link href="/styles/output.css" rel="stylesheet">
</head>
<body>
  <h1>User Profile</h1>
  <p>User ID: <%= user.id %></p>
  <p class="text-4xl">User Name: <%= user.firstName %> <%= user.lastName %></p>
  <!-- Other user data fields -->
</body>
</html>
